@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<hr />

<p>Please, login to join the conversation.</p>

<form asp-action="Login" method="post">
    <button type="submit" name="provider" value="Facebook">
        Login with Facebook
    </button>
</form>
