@using Microsoft.AspNetCore.Identity
@using ChatApp.Data.Entities

@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home";
}

<h2>Chat</h2>
<hr />

<p>Welcome, @UserManager.GetUserAsync(User).Result.FullName</p>

<form asp-controller="Account" asp-action="Logout" method="post">
    <button type="submit">Log Out</button>
</form>

<hr />
<div id="messages"></div>
<br />

<form id="form" action="">
    <input id="input" type="text" placeholder="Enter your message..." autocomplete="off" />
    <button type="submit">Send</button>
</form>

@section Scripts
{
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
}
